<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <connectionStrings>
        <add name="Name"
             providerName="SqlServer"
             connectionString=".\instancename,51688;Database=MSSQLTipsDB;Trusted_Connection=True;" />
    </connectionStrings>
</configuration>